<% layout("/layouts/boilerplate") -%>
<div class="row mt-4 mb-4">
    <div class="col-12 col-md-6 offset-md-3">
        <h1 class="mb-4">Login To Stayscout</h1>
        
        <form action="/login" method="POST" novalidate class="needs-validation shadow-sm p-4 rounded-4 border bg-white">
            <div class="mb-3">
                <label for="username" class="form-label fw-bold">Username</label>
                <input name="username" id="username" type="text" class="form-control px-3 py-2" placeholder="Enter your username" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label fw-bold">Password</label>
                <input name="password" id="password" type="password" class="form-control px-3 py-2" placeholder="Enter your password" required>
            </div>
            
            <button class="btn btn-success w-100 py-2 fw-bold mb-3">Login</button>

            <div class="text-center mb-3 text-muted">OR</div>

            <div>
                <a href="/auth/google/login" class="btn btn-outline-dark w-100 py-2 d-flex align-items-center justify-content-center gap-2">
                    <i class="fa-brands fa-google"></i> Login with Google
                </a>
            </div>

            <div class="mt-4 text-center">
                <p class="mb-0">Don't have an account? <a href="/signup" class="text-decoration-none fw-bold" style="color: #F08D25;">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>